<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1>
  <p>This are your todos for today gus :).</p>
</section>

<section class="row">
  <article class="column">
    <h1>Todo List</h1>
    <%= live_render(@conn, TodoAppWeb.TodoLive) %>
  </article>
</section>
